@font-face {
    font-family: 'Columbina';
    src: url('Columbina.woff2') format('woff2'),
        url('Columbina.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

