@font-face {
    font-family: 'Arkadia';
    src: url('Arkadia.woff2') format('woff2'),
        url('Arkadia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

