@font-face {
    font-family: 'Algeria One';
    src: url('AlgeriaOne.woff2') format('woff2'),
        url('AlgeriaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

