// REMEMBER BROTHER
//           /   = Root directory
//           .   = This location
//           ..  = Up a directory
//          ./  = Current directory
//           ../ = Parent of current directory
//           ../../ = Two directories backwards

@import "../../components/various.scss";
@import "../../components/general.scss";
@import "../../components/fonts.scss"; // Better Load from the root main.css
@import "../../components/animations.scss";
// @import "../../components/infoModal.scss";

// Page Gallery

@import "../components/pageFond.scss";
@import "../components/header.scss";
@import "../components/about.scss";
@import "../components/content.scss";
@import "../components/footer.scss";
@import "../components/map.scss";
@import "../components/end.scss";
@import "../components/additional.scss";

html,
body {
  display: flex;
  flex-direction: column;
}

body > * {
  flex-shrink: 0;
}
