@font-face {
    font-family: 'Aragonia Modern';
    src: url('AragoniaModern.woff2') format('woff2'),
        url('AragoniaModern.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

