$headerHeight: 12vh;

.main-header {
    // width: 100vw;
    width: 100%;
    height: $headerHeight;
    position: relative;
    z-index: 9999;
    background-color: black;
    // background: url("../img/header.png");
    // background-size: 100% auto;
    // background-repeat: no-repeat;
    // background-position-y: bottom 15px;
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    // padding-top: 3vh;
    align-items: flex-start;
    justify-content: stretch;
}

.main-header__btn-left-wrapper,
.main-header__btn-right-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // padding-top: 2vh;
    height: 100%;
}

// Give em borders

.main-header__btn-left-wrapper {
    width: 15%;
}

.main-header__btn-right-wrapper {
    width: 20%;
}


.main-header__title {
    width: 70%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .main-header__btn-wrapper{
//     padding-top: 2vh;
// }

.main-header__btn-right {
    width: 50%;
    padding-left: 15%;
    &:last-child{
        padding-left: 0;
    }
}

.main-header__btn-left-icon {
    width: 50%;
}

.main-header__btn-right-icon {
    width: 45%;
}

#tip-img {
    width: 60%;
}

// /* The sticky class is added to the header with JS when it reaches its scroll position */
// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%;
// }